.esse-connect {
    background: var(--project-white);

 

    display: block;
    position: relative;
    z-index: 2;
   

    &__content {
        position: relative;
        border-radius: 8px;
        background: var(--new-main);
     
    }

    &__fon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        overflow: hidden;
    }

    &__body {
        position: relative;
        z-index: 1;
        display: flex;
    }
    &__left {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: start;
        flex-direction: column;
        @include adaptiveClamp(padding-top, 60, 20);
        @include adaptiveClamp(padding-bottom, 60, 20);
        @include adaptiveClamp(padding-left, 52, 20);
        @include adaptiveClamp(padding-right, 52, 20);
        margin-right: auto;
        max-width: rem(785);
        min-height: rem(350);
    }

    &__img {
        display: flex;
        align-items: end;
        margin-top: rem(-100);
        margin-left: rem(-300);
        overflow: hidden;
        img {

            @include adaptiveClamp(width, 614, 200);
            height: auto;
        }


        @media(max-width:767px){
            display: none;
        }
    }

    &__title.title-block {
        color: var(--project-white);
        @include adaptiveClamp(font-size, 40, 24);
    }

    &__text-un {
        line-height: 130%;
        color: var(--project-white);
        @include adaptiveClamp(font-size, 20, 14);
    }

    &__text-un {
    }

    .mentor-prog__btn {
        margin-top: auto;
    }
}

