.mentor-about {
    @include adaptiveClamp(padding-top, 74, 52);
   background: #fff;
    &__head {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include adaptiveClamp(margin-bottom, 73, 24);

        p {
            @include adaptiveClamp(font-size, 18, 16);
            font-weight: 500;
            color: var(--text-secondary);

            &.big {
                @include adaptiveClamp(font-size, 20, 16);
            }

            &.big-two {
                @include adaptiveClamp(font-size, 24, 20);
            }


        }



        @media(max-width:991px){
            grid-template-columns: 1fr;
            p:first-child {
                display: none;
            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: rem(10);

        @media(max-width:1199px){
            grid-template-columns: 1fr 1fr;
        }
        @media(max-width:767px){
            grid-template-columns: 1fr;
        }
        @media(max-width:575px){
            @media(max-width:575px){
                gap: rem(16);
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 8px;
        background: #eef7ff;
        @include adaptiveClamp(padding, 30, 20);
        min-height: rem(410);

        @media(max-width:575px){
            min-height: rem(420);
        }

        &.blue {
            background: var(--new-main);
        }

        p {
            font-size: rem(16);
            line-height: 130%;
            color: var(--text-secondary);
            font-weight: 400;

            &.min {
                font-size: rem(14);
            }
            max-width: rem(515);
        }

        &.blue p {
            color: var(--project-white);
        }
        
        p.m-0 {
            margin: 0;
        }



        &.esse-start__item {
            @include adaptiveClamp(min-height, 293, 250);
        }
        &.esse-direct__item {
            @include adaptiveClamp(min-height, 311, 250);
        }
        &.esse-term__item {
            @include adaptiveClamp(min-height, 230, 160);
        }

        &.two-col {
            grid-column: span 2;

            @media(max-width:991px){
                grid-column: span 1;
            }
        }
    }

    &__item-number {
        @include adaptiveClamp(width, 44, 36);
        @include adaptiveClamp(height, 44, 36);
        border-radius: 50%;
        background: var(--new-main);
        color: var(--project-white);
        @include adaptiveClamp(font-size, 18, 16);
        display: flex;
        align-items: center;
        justify-content: center;
        @include adaptiveClamp(margin-bottom, 24, 23);


        svg {
            @include adaptiveClamp(width, 24, 20);
            height: auto;
            // @include adaptiveClamp(width, 24, 20);
        }

        .blue & {
            background: var(--project-white)
        }
    }
    &__title {
        @include adaptiveClamp(font-size, 26, 20);
        @include adaptiveClamp(margin-bottom, 22, 16);
        color: var(--text-main);
        font-weight: 500;

        .blue & {
            color: var(--project-white);
        }


        &.blue {
            color: var(--new-main);
            @include adaptiveClamp(font-size, 22, 20);
        }

        &.m-t-a {
            margin-top: auto;
        }

        &.min {
            @include adaptiveClamp(font-size, 20, 18);
            @include adaptiveClamp(margin-bottom, 8, 7);
        }
    }
  
    

    &__img {
        position: absolute;
        bottom: 0;
        width: 100%;
        right: 0;
        max-width: rem(400);
        img {
            width: 100%;

        }
    }
}
.container {
}
.big {
}
.blue {
}
