.mentor-whom {

		&__title {
            @include adaptiveClamp(font-size, 58, 40);

		}

		&__row {
            display: flex;
          

            @media(max-width:991px){
                flex-direction: column;
                gap: rem(16);
            }
            .esse-revie & {
                flex-direction: row;
                gap: 0;

                @media(max-width:767px){
                    flex-direction: column;
                    gap: rem(16);
                }
            }
            
		}

		&__item {
		}
}
.container {
}
.title-block {
}
.item-whom {
    display: flex;
    flex-direction: column;
    width: 38.5%;

    &.left {
        width: 23%;

        @media(max-width:1399px){
            display: none;
        }
    }

    @media(max-width:1399px){
        width: 50%;
    }
    
    &:first-child {
        .item-whom__head {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }
    }
    
    &:last-child {
        .item-whom__body {
            border-right: none;
        }
        .item-whom__head {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }


    @media(max-width:1399px){
        &:nth-child(2) {
            .item-whom__head {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }
        }
    }
    @media(max-width:991px){
        width: 100%;

        .item-whom__head {
                border-radius: 8px;
                border-radius: 8px;
        }
    }

    .esse-revie & {
        &.left {
            width: 23%;
    
            @media(max-width:1399px){
                display: flex !important;
                width: 30%;
            }
            @media(max-width:767px){
                width: 100%;

                .item-whom__body-line {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                }
                .item-whom__head {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                }
                
            }
        }

        @media(max-width:1399px){
            width: 35%;
    
            &:nth-child(2) {
                .item-whom__head {
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                }
            }
        }
        @media(max-width:991px){
            .item-whom__head {
                border-radius: 0px;
                border-radius: 0px;
            }
        }
        @media(max-width:767px){
            width: 100%;
    
            .item-whom__head {
                border-radius: 8px !important;
                border-radius: 8px !important;
            }

            &:not(.left) {
                display: none !important;
            }
        }
    }



		&__head {
            display: flex;
            align-items: center;
            justify-content: center;
            @include adaptiveClamp(height, 86.5, 61.6);
            background: var(--new-main);
            @include adaptiveClamp(padding, 23, 20);
            font-weight: 500;
            @include adaptiveClamp(font-size, 24, 22);
            line-height: 120%;
            color: var(--project-white);
            text-align: center;

            .left & {
                text-align: left;
                justify-content: start;
            }

            .esse-revie & {
                @include adaptiveClamp(font-size, 18, 17);
                @include adaptiveClamp(height, 50, 50);
            }
		}

		&__body {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 1fr;
            border-right: 1px solid var(--project-gray);
            flex: auto;
            border-bottom: 1px solid var(--project-gray);
		}

		&__body-line {
            display: flex;
            // height: 25%;
            @include adaptiveClamp(min-height, 149, 139);

            @include adaptiveClamp(padding-left, 21, 8);
            @include adaptiveClamp(padding-right, 21, 8);
            @include adaptiveClamp(padding-top, 32, 22);
            @include adaptiveClamp(padding-bottom, 32, 22);

            &:nth-child(odd) {
                background: #eef7ff;
            }


            .esse-revie & {
                @include adaptiveClamp(min-height, 80, 70);
                @include adaptiveClamp(padding-left, 20, 8);
                @include adaptiveClamp(padding-right, 20, 8);
                @include adaptiveClamp(padding-top, 16, 15);
                @include adaptiveClamp(padding-bottom, 16, 15);
            }
		}

		&__title {
            @include adaptiveClamp(font-size, 20, 18);
            font-weight: 500;
            color: var(--new-main);


            .esse-revie & {
                @include adaptiveClamp(font-size, 16, 15.8);
            }
		}

        &__body-row {
            width: 100%;
            display: flex;
            align-items: start;
            flex-wrap: wrap;
            justify-content: center;
            @include adaptiveClamp(column-gap, 7, 5);
            @include adaptiveClamp(row-gap, 11, 6.3);
            margin-bottom: auto;

            @media(max-width:575px){
                margin-top: auto;
                margin-bottom: auto;
            }
        }
        &__body-mark {
            border: 1px solid var(--new-main);
            border-radius: 100px;
            font-weight: 500;
            @include adaptiveClamp(font-size, 16, 13.5);
            @include adaptiveClamp(padding-left, 17, 10.5);
            @include adaptiveClamp(padding-right, 17, 10.5);
            @include adaptiveClamp(padding-top, 4.5, 2);
            @include adaptiveClamp(padding-bottom, 4.5, 2);

            svg {
                margin-right: rem(6);
                margin-left: rem(-3);
            }
        }

        &__body-text {
            text-align: center;
            @include adaptiveClamp(font-size, 16, 14);
            font-weight: 500;
            width: 100%;
            

            &.ctr {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: auto;
                margin-bottom: auto;
            }

            @media(max-width:575px){
                margin-top: auto;
                margin-bottom: auto;
            }
        }
}
.left {
}
