@media (max-width: 700px) {
    body .about.mentor-prog .banner-news .banner-trans-desc {
        width: 100% !important;
    }
}

.mentor-prog {
    padding-bottom: 0 !important;
    

    &__title-up {
        @include adaptiveClamp(margin-bottom, 26, 20);
        font-weight: 500;
        @include adaptiveClamp(font-size, 58, 24);
        line-height: 105%;
        color: var(--new-main);
    }
    &__title {
        padding-bottom: rem(42);
    

        @media(max-width:700px){
            padding-top: rem(20);
        }
    }

    .banner-trans-desc {
        width: 100%;
        height: 100%;
        top: 0;
        @include adaptiveClamp(padding-top, 292, 247);
    }
    
    
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    
    &__lines {
        pointer-events: none;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: calc(100% - 105.38px);


        @media(max-width:700px){
            height: calc(100% - 80px);
        }
        .container {
            width: 100%;
            height: 100%;
            flex-direction: row;
            justify-content: space-between;
        }

        span {
            display: block;
            width: 1px;
            background: rgba(255, 255, 255, 0.1);
            height: 100%;
        }
    }

    .banner-news .wrapper_banner {
        h1 {
            
            font-size: rem(80);

            @media(max-width:1400px){
                @include adaptiveClamp(font-size, 70, 38);
            }
        }
    }

    .banner-wrapper-ult img {
        @include adaptiveClamp(height, 804, 705);

        .mentor & {
            @include adaptiveClamp(height, 480, 450);
        }
    }

    &__btn {
        .quar {
            width: rem(5);
        }
    }

    .banner-news .tabs__content .call_btn {
        @media(max-width:700px){
            display: flex !important;
            justify-content: space-between;
        }
    }
}
.mentor-prog.mentor {
        .banner-wrapper-ult img {
            @include adaptiveClamp(height, 480, 450);
        }
        .banner-trans-desc {
            @include adaptiveClamp(padding-top, 158, 140);
        }
}
