html.loaded {
    opacity: 1;
}

body.white {
    // background: #fff !important;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    /** Поменять на clip - если используется в проекте position: sticky */
    overflow: clip ;
}

.page {
    position: relative;
    flex: 1 1 auto;
  
    [data-observ] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: rem(2);
        background: transparent;
        pointer-events: none;
    }

    &_start {
        // padding-top: rem($headerHeight);
    }
}

.title-block {
    @include adaptiveClamp(font-size, 58, 44);
    @include adaptiveClamp(margin-bottom, 70, 40);
    font-weight: 500;
    line-height: 105%;

    span {
        color: var(--new-main);
    }
}


.pt-s {
    @include adaptiveClamp(padding-top, 172, 100);
    background: #fff;
}


.call_btn.red {
    border-color: var(--new-accent);
    color: var(--new-accent);

    &:hover {
        color: #fff;
    }
}

footer {
    background: var(--new-main);
}




.eng, .right .eng {
    display: flex;
    align-items: center;
    position: relative;
    width: 52px;
    min-width: 52px;
    height: 24px;
    border-radius: 38px;
    background: var(--new-accent);
    padding-left: 8px;
    padding-right: 8px;

	&__text {
        font-weight: 600;
        font-size: 14px;
        color: var(--project-white);
        line-height: 1;
        margin-left: auto;

        .active & {
            margin-left: 0;
        }
	}

	&__circle {
        position: absolute;
        top: 1.6px;
        left: 2px;
        width: 19.5;
        height: 19.5;
        border-radius: 50%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        background: var(--project-white);

        .active & {
            left: unset;
            right: 2px;
        }
	}
}


header._two {

    .wrapper_header {
        ul li {
            margin-right: 35px;

            @media(max-width:1399px){
                margin-right: 25px;

                a {
                    font-size: 14px;
                }
            }
        }
    }

    .wrapper_header nav {
        margin: 0px;
    }

    .wrapper_header ul {
        padding-left: 0;
    }

    .add_org {
        a {
            font-size: 10px;
        }
    }
}