html.loaded {
    opacity: 1;
}

body.white {
    // background: #fff !important;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    /** Поменять на clip - если используется в проекте position: sticky */
    overflow: clip ;
}

.page {
    position: relative;
    flex: 1 1 auto;
  
    [data-observ] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: rem(2);
        background: transparent;
        pointer-events: none;
    }

    &_start {
        // padding-top: rem($headerHeight);
    }
}

.title-block {
    @include adaptiveClamp(font-size, 58, 44);
    @include adaptiveClamp(margin-bottom, 70, 40);
    font-weight: 500;
    line-height: 105%;

    span {
        color: var(--new-main);
    }

    &.min-m-b {
        @include adaptiveClamp(margin-bottom, 16, 14);
    }

    &.blue {
        color: var(--new-main);
    }
}

.text-un {
    font-size: 18px;
    line-height: 130%;
    color: var(--text-secondary);
    @include adaptiveClamp(font-size, 18, 16);
    &.m-b {
        @include adaptiveClamp(margin-bottom, 60, 35);
    }
}

.pt-s {
    @include adaptiveClamp(padding-top, 172, 100);
    background: #fff;
}


.call_btn.red {
    border-color: var(--new-accent);
    color: var(--new-accent);

    &:hover {
        color: #fff;
    }
}

footer {
    background: var(--new-main);
}




img.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.bot-section {
    border-radius: 0 0 50px 50px;
    @include adaptiveClamp(padding-bottom, 118, 52);
    
    @media (max-width: 767px) {
        border-radius: 0 0 40px 40px;
    }
}