@use 'sass:math';

/**
* Подключение шрифтов локально из папки "./src/fonts"
*/
// @import 'config/fonts';

/** Подключение переменных */
@import 'config/vars';

/**
* Подключение sass function и mixins и extends стилей
*/
@import 'config/functions';
@import 'config/mixins';
// @import 'config/placeholders';

/** Обнуление */
// @import 'config/default';
// @import 'config/reset';


/**
* Библиотеки
* раскомментировать для использования
*/
// @import 'libs/aos';
// @import 'libs/swiper';

/**
* Подключение custom scrollbar для всего сайта
*/
@import 'config/scrollbar';

/**
* Общие параметры, шаблоны(заготовки) и вспомогательные классы
*/
// @import 'config/base';

/**
* БЕМ блоки используемые во всё проекте
*/
@import 'config/common';

/**
* Функциональные блоки используемые во всё проекте
*/
// @import 'components/popup';
// @import 'components/checkbox';
// @import 'components/tabs';
// @import 'components/accordion';
/**
* Подключение стилей отдельных блоков и секций
*/



@import 'components/mentor-prog';
@import 'components/mentor-about';
@import 'components/mentor-meet';
@import 'components/mentor-mot';
@import 'components/mentor-whom';
@import 'components/mentor-motiv';
@import 'components/mentor-all';
@import 'components/mentor-page';


@import 'components/esse-expect';
@import 'components/esse-connect';


